In [43]:
import pandas as pd
import os
from AUIDFunctions import *
import numpy as np

In [45]:
df = pd.read_csv("../input/all-members.csv")

In [47]:
print(df.shape)
df.head()

(31933, 10)

,Birth.Year,Rank,Race,Appointed.Date,Gender,Last.Date,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,1971.0,SERGEANT OF POLICE,WHITE,2005-09-26,MALE,2016-06-01,AARON,NaN,JEFFERY,M
1,1980.0,POLICE OFFICER,HISPANIC,2005-09-26,FEMALE,2005-09-26,AARON,NaN,KARINA,NaN
2,1942.0,POLICE OFFICER,WHITE,1970-06-15,MALE,1970-06-15,ABATE,NaN,DANIEL,P
3,1968.0,POLICE OFFICER,WHITE,1994-12-05,MALE,1994-12-05,ABBATE,NaN,ANTHONY,G
4,1942.0,PO AS DETECTIVE,WHITE,1969-01-06,MALE,1969-01-06,ABBATE,NaN,CARMEL,G

In [12]:
KeepDuplicates(df, ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Birth.Year"])

,Birth.Year,Rank,Race,Appointed.Date,Gender,Last.Date,Last.Name,Suffix.Name,First.Name,Middle.Initial
30824,1951.0,DEPUTY SUPT.,BLACK,1975-05-16,MALE,2001-03-27,WILLIAMS,NaN,CHARLES,L
30825,1951.0,POLICE OFFICER,BLACK,1982-03-01,MALE,1982-03-01,WILLIAMS,NaN,CHARLES,L
18029,1963.0,POLICE OFFICER,WHITE,1995-06-05,MALE,1995-06-05,MCCARTHY,NaN,DANIEL,T
18030,1963.0,POLICE OFFICER,WHITE,1998-09-28,MALE,1998-09-28,MCCARTHY,NaN,DANIEL,T
20119,1925.0,UNKNOWN,WHITE,1948-02-14,MALE,NaN,MURPHY,NaN,JAMES,E
20120,1925.0,PO/MOUNTED PAT OFF.,WHITE,1955-05-02,MALE,1955-06-01,MURPHY,NaN,JAMES,E
1803,1976.0,POLICE OFFICER,BLACK,1999-10-25,MALE,NaN,BENTLEY,NaN,JOEL,A
1804,1976.0,POLICE OFFICER,WHITE,1999-10-25,MALE,1999-10-25,BENTLEY,NaN,JOEL,A
18044,1946.0,POLICE OFFICER,WHITE,1971-07-26,MALE,1971-07-26,MCCARTHY,NaN,JOHN,M
18045,1946.0,POLICE OFFICER,WHITE,1991-02-27,MALE,1991-05-31,MCCARTHY,NaN,JOHN,M
19201,1922.0,UNKNOWN,WHITE,1954-12-16,MALE,NaN,MILLER,NaN,JOHN,G
19202,1922.0,UNKNOWN,WHITE,1954-06-16,MALE,NaN,MILLER,NaN,JOHN,G
24718,1968.0,POLICE OFFICER,HISPANIC,1999-06-21,MALE,NaN,ROMO,NaN,JORGE,NaN
24719,1968.0,POLICE OFFICER,HISPANIC,1999-06-21,MALE,1999-06-21,ROMO,NaN,JORGE,NaN
4375,1972.0,POLICE OFFICER,BLACK,2000-01-24,MALE,2000-01-24,CHAMBERS,NaN,JOSE,A
4376,1972.0,POLICE OFFICER,BLACK,2000-01-24,MALE,NaN,CHAMBERS,NaN,JOSE,A
1343,1948.0,PO ASGN EVID. TECHNI,BLACK,1978-12-11,MALE,1978-12-11,BARNES,NaN,LAWRENCE,J
1344,1948.0,POLICE OFFICER,WHITE,1977-11-01,MALE,1977-11-01,BARNES,NaN,LAWRENCE,J
5899,1949.0,PO AS DETECTIVE,WHITE,1970-06-15,MALE,1971-03-17,CUMMINGS,NaN,MICHAEL,NaN
5900,1949.0,POLICE OFFICER,WHITE,1988-01-25,MALE,1988-01-25,CUMMINGS,NaN,MICHAEL,NaN
17680,1987.0,POLICE OFFICER,HISPANIC,2013-06-03,MALE,NaN,MARTINEZ,NaN,MICHAEL,S
17681,1987.0,POLICE OFFICER,HISPANIC,2015-04-06,MALE,NaN,MARTINEZ,NaN,MICHAEL,S
26962,1947.0,PO AS DETECTIVE,WHITE,1971-02-22,MALE,1971-02-22,SMITH,NaN,ROBERT,E
26963,1947.0,POLICE OFFICER,WHITE,1971-02-22,MALE,1971-02-22,SMITH,NaN,ROBERT,E
29510,1981.0,POLICE OFFICER,HISPANIC,2005-12-05,MALE,2005-12-05,VARGAS,NaN,THOMAS,NaN
29511,1981.0,POLICE OFFICER,HISPANIC,2005-12-05,MALE,NaN,VARGAS,NaN,THOMAS,NaN
15622,1976.0,POLICE OFFICER,WHITE,2003-09-29,MALE,2003-09-29,LACZ,NaN,WOJCIECH,NaN
15623,1976.0,UNKNOWN,WHITE,2003-09-29,MALE,NaN,LACZ,NaN,WOJCIECH,NaN

In [39]:
df['Birth.Year']

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [49]:
id_cols = ["First.Name", "Last.Name", "Appointed.Date", "Race", "Gender", "Birth.Year"]
df = AssignUniqueIDs(df, id_cols)

In [17]:
keep_cols = ["Middle.Initial", "Suffix.Name", "Rank"]

In [19]:
dfu = df[["TID"]+keep_cols].groupby("TID")[keep_cols].apply(lambda x: x.mode())

In [51]:

df[["TID"]+keep_cols].groupby("TID").size()

TID
1.0        1
2.0        1
3.0        1
4.0        1
5.0        1
6.0        1
7.0        1
8.0        1
9.0        1
10.0       1
11.0       1
12.0       1
13.0       1
14.0       1
15.0       1
16.0       1
17.0       1
18.0       1
19.0       1
20.0       1
21.0       1
22.0       1
23.0       1
24.0       1
25.0       1
26.0       1
27.0       1
28.0       1
29.0       1
30.0       1
          ..
31892.0    1
31893.0    1
31894.0    1
31895.0    1
31896.0    1
31897.0    1
31898.0    1
31899.0    1
31900.0    1
31901.0    1
31902.0    1
31903.0    1
31904.0    1
31905.0    1
31906.0    1
31907.0    1
31908.0    1
31909.0    1
31910.0    1
31911.0    1
31912.0    1
31913.0    1
31914.0    1
31915.0    1
31916.0    1
31917.0    1
31918.0    1
31919.0    1
31920.0    1
31921.0    1
Length: 31909, dtype: int64

In [31]:
dfu